POSTGRES_DB=medusa-store-tico
POSTGRES_USER=postgres-tico
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgres://postgres-tico:postgres@postgres:5432/medusa-store-tico
REDIS_URL=redis://redis:6379
STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret